@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');


* {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  box-sizing: border-box;
}

.blur-filter {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  z-index: 1;
}

.header-and-nav {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://image.shutterstock.com/image-vector/vector-linear-illustration-bottles-glasses-260nw-667294063.jpg');
}
