.Drink_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.Drink_image {
  height: 100px;
}

.Drink_image-favorite {
  height: 50px;
  width: 45px;
  position: absolute;
  top: 5px;
  right: 5px;
}